<div class="navbar">
    <div class="container pull-right">
        @Html.ActionLink("Giriş Yap", "SingIn", "Login", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Kayıt Ol", "Create", "Login", new { area = "" }, new { @class = "navbar-brand" })
    </div>
</div>    
