@using E_Ticaret.Models.Entities
@model List<Order>

@{
    ViewBag.Title = "PastBaskets";
}

<h2>Geçmiş Siparişlerim</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Tarihi</th>
            <th>Adresi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.OrderDate</th>
                <th>@item.ShipAddress</th>
                <th>
                    <a href="@Url.Action("PastBasketDetails", "Basket", new { orderId = item.Id })">Detay</a>
                </th>
            </tr>
        }
    </tbody>
</table>

